---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

/* ==========================================================================
   AI Guys skin
   ========================================================================== */

/* Colors */
$background-color: #252a34 !default;
$text-color: #eaeaea !default;
$primary-color: #df7400 !default;
$border-color: mix(#fff, $background-color, 20%) !default;
$code-background-color: mix(#000, $background-color, 15%) !default;
$code-background-color-dark: mix(#000, $background-color, 20%) !default;
$form-background-color: mix(#000, $background-color, 15%) !default;
$footer-background-color: mix(#000, $background-color, 30%) !default;
$link-color: $primary-color !default;
$link-color-hover: mix(#fff, $link-color, 15%) !default;
$link-color-visited: mix(#000, $link-color, 15%) !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: mix(#000, $text-color, 20%) !default;
$navicon-link-color-hover: mix(#000, $background-color, 30%) !default;

.author__urls.social-icons i,
.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa  {
  color: inherit;
}

.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}

.masthead__menu-item a {
    font-family: "Courier New", Courier, "Lucida Console", Monaco, Consolas, "DejaVu Sans Mono", monospace;
    font-size: 1rem; /* Adjust size as needed */
    letter-spacing: 0.5px; /* Optional for better readability */
    text-decoration: none; /* Optional to remove underline */
    color: inherit; /* Keeps the original color */
}


@import "minimal-mistakes"; // main partials

.archive {
  width: 100%;
  padding-inline-end: 0;
}

.feature__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  border: 1px solid #ddd; /* Light gray border */
  border-radius: 8px; /* Rounded corners */
  padding: 1rem; /* Space inside the border */
  margin: 1rem 0; /* Space between items */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  background-color: #1f1f1f; /* Optional: White background */
}

.feature__display {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  border: 1px solid #ddd; /* Light gray border */
  border-radius: 8px; /* Rounded corners */
  padding: 1rem; /* Space inside the border */
  margin: 1rem 0; /* Space between items */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  background-color: #1f1f1f; /* Optional: White background */
}

// Main Page: About Section
.about-section {
  padding: 0rem 1rem 2rem 1rem;
  //background-color: #f9f9f9; /* light background for contrast */
  text-align: center;
}

.about-section .container {
  max-width: 800px;
  margin: 0 auto;
}

.about-section h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #df7400;
}

.about-section p {
  font-size: 1.125rem;
  line-height: 1.6;
  color: #eaeaea;
}

// Main Page: Case Study Banner
.case-study-banner {
  position: relative;
  background-size: cover;
  background-position: center;
  padding: 0rem 1rem 2rem 1rem;  /* Adjust the padding to control banner height */
  text-align: center;
  color: #fff;
  overflow: hidden;
}

.case-study-overlay {
  background: #1f1f1f;
  padding: 2rem;
  display: inline-block;
  border-radius: 8px;
  border: 1px solid #df7400;
  max-width: 800px;
  margin: 0 auto;
}

.case-study-banner h2 {
  //font-size: 2rem;
  //margin-bottom: 1rem;
}

.case-study-banner p {
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
}

input, textarea {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #df7400;
  border-radius: 4px;
  background-color: #333;
  font-family: 'Courier New', Courier, monospace;
  color: #fff;
}
input[type="submit"] {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #df7400;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
  padding: 10px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
input[type="submit"]:hover {
  background-color: #df7400;
  color: #1f1f1f;
}

.particles-side {
  position: absolute;
  top: 0;
  bottom: 0;   /* This pins the element from the top to bottom of .page__hero */
  width: 25%;  /* Adjust width as needed */
  pointer-events: none;
  z-index: 1;
  filter: blur(1px);  /* Optional: softens the effect */
}

#particles-left {
  left: 0;
}

#particles-right {
  right: 0;
}